# This file contains patterns to match files that Git should ignore.

# Ignore compiled libraries
*.so

# Ignore backup files
*~

# Ignore .directory files written by Dolphin
*.directory

# Ignore the Maven build folder
joxy/target/